//Colour Palette
$colour-primary:  #FF6060;
// $colour-accent:  linear-gradient(315deg, #d3d3d3 0%, #eccc68 74%);
$colour-accent:  #00e64d;
$colour-text:  #FFFFFF;
$colour-text-inverse:  black;
$colour-dark:  #1b1b1b;
$colour-light-fade: rgba(249, 224, 202,0.8);
$colour-light: rgb(249, 224, 202);

//Font weights
$fw-reg: 300;
$fw-bold: 900;

//BoxShadows
$bshadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
0.125em 0.125em 0.125em rgba(0,0,0,0.15);

//Breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 767.98px;

//typographies
$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Playfair Display', serif;
$ff-body: 'Nanum Gothic', sans-serif;

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.5rem;
$fs-body: 1.125rem;

@media(min-width: 800px){
    $fs-h1: 3rem;
    $fs-h2: 2rem;
    $fs-h3: 1.5rem;
    $fs-body: 1.125rem;
}

//Global Applications

body{
    font-family: $ff-primary;
    font-weight: 500;
}

h1{
    font-size: $fs-h1;
    font-weight: $fw-bold;
    font-weight: 500;
}

h2{
    font-size: $fs-h2;
    font-weight: 500;
}

h3{
    font-size: $fs-h3;
    font-weight: 500;
}

p{
    font-size: $fs-body;
    font-weight: 500;
}