@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  font-weight: 500;
}

h2 {
  font-size: 2.25rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.125rem;
  font-weight: 500;
}

html,
body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 90vw;
  gap: 0;
}
@media (max-width: 767.98px) {
  .app {
    width: 100vw;
  }
}

.rentalsList__tile {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FF6060;
}
@media (max-width: 767.98px) {
  .rentalsList__tile {
    max-width: 335px;
    max-height: 255px;
  }
}
.rentalsList__tileGradient {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.rentalsList__tileTitle {
  margin-left: 1em;
  z-index: 2;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 500;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
}
@media (max-width: 767.98px) {
  .hero {
    width: 335px;
    height: 111px;
  }
}
.heroTitle {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #FFFFFF;
}
@media (max-width: 767.98px) {
  .heroTitle {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.collapse__Container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 38px 0;
  align-items: flex-start;
}
@media (max-width: 767.98px) {
  .collapse__Container {
    flex-direction: column;
    width: 353px;
    margin-top: 40px;
  }
}
.collapse__dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 52px;
  transition: max-height 500ms ease-in-out;
}
@media (max-width: 767.98px) {
  .collapse__dropdown {
    max-height: 12px;
    width: 300px;
  }
}
.collapse__dropdownBar {
  display: flex;
  width: 95%;
  padding: 10px 20px 10px 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: #FF6060;
}
@media (max-width: 767.98px) {
  .collapse__dropdownBar {
    width: 300px;
    height: 12px;
  }
}
.collapse__dropdownBarTitle {
  margin: 0;
  color: #FFFFFF;
  font-size: 1.5rem;
}
@media (max-width: 767.98px) {
  .collapse__dropdownBarTitle {
    font-size: 13px;
  }
}
.collapse__dropdownBar:hover,
.collapse__dropdownBar :focus {
  cursor: pointer;
}
.collapse__dropdownBarArrow {
  transition: transform 250ms ease-in-out;
}
.collapse__dropdownBarArrow--rotated {
  transform: rotate(180deg);
}
@media (max-width: 767.98px) {
  .collapse__dropdownBarArrow {
    font-size: 13px;
    width: 32px;
    height: 32px;
  }
}
.collapse__dropdownInfoContainer {
  width: 94.5%;
  border-radius: 10px 10px 5px 5px;
  background: var(--Gray, #f6f6f6);
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 500ms ease-in-out;
  transform-origin: 50% 0%;
  transform: scaleY(1);
}
.collapse__dropdownInfoContainer--hidden {
  transform: scaleY(0);
}
.collapse__dropdownInfoContainer--hidden:first-child {
  transform: scaleY(0);
}
@media (max-width: 767.98px) {
  .collapse__dropdownInfoContainer {
    width: 300px;
    min-height: 12px;
  }
}
.collapse__dropdownInfoText {
  margin: 0;
  color: #FF6060;
  font-weight: 400;
  line-height: 142.6%;
  transform: scaleY(1);
  transition: transform 500ms ease-in-out;
}
@media (max-width: 767.98px) {
  .collapse__dropdownInfoText {
    font-size: 0.75rem;
  }
}

.imageCarousel {
  background-color: #FF6060;
  border-radius: 25px;
  width: 100%;
  aspect-ratio: 248/83;
}
@media (max-width: 767.98px) {
  .imageCarousel {
    width: 335px;
    height: 255px;
  }
}
.imageCarousel__controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.imageCarousel__next, .imageCarousel__prev {
  padding: 1em;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .imageCarousel__next, .imageCarousel__prev {
    width: 32px;
    height: 22px;
  }
}
.imageCarousel__counter {
  color: #FFFFFF;
  font-size: 1.125rem;
  align-self: flex-end;
  margin-bottom: 2em;
}

.rentalsList {
  width: 100%;
  height: 829px;
  margin: 25px 0;
  border-radius: 25px;
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
@media (max-width: 767.98px) {
  .rentalsList {
    max-width: 100vw;
    max-height: 938px;
    background: none;
  }
}
.rentalsList__container {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 4em 2em;
  overflow: hidden;
  align-self: flex-start;
  margin: 2em 0;
}
@media (max-width: 767.98px) {
  .rentalsList__container {
    max-width: 100vw;
    justify-self: center;
    align-self: flex-start;
    gap: 22px;
    margin-top: 0;
  }
}
.rentalsList__Link {
  text-decoration: none;
}

.banner {
  display: flex;
  min-width: 100%;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  flex-grow: 0;
}
@media (max-width: 767.98px) {
  .banner {
    max-width: 335px;
    min-width: 335px;
    max-height: 68px;
    margin: 20px 0 27px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    flex: 1 0 0;
  }
}
.banner__logo {
  width: 145px;
  height: 46.881px;
}
.banner__nav {
  display: flex;
  align-items: flex-start;
  gap: 57px;
}
@media (max-width: 767.98px) {
  .banner__nav {
    width: 190px;
    gap: 26px;
    justify-content: flex-end;
  }
}
.banner__nav a {
  font-weight: 500;
  line-height: 142.6%;
  font-size: 1.5rem;
  color: #FF6060;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .banner__nav a {
    font-size: 0.75rem;
    text-align: right;
    text-transform: uppercase;
  }
}
.banner__nav--active {
  text-decoration: underline;
  border-bottom: #FF6060 solid 2px;
}

.footer {
  display: flex;
  width: 100vw;
  height: 209px;
  padding: 66px 0 29px 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 28.556px;
  background: #000;
  margin: auto 0 0 0;
  flex-grow: 0;
  justify-self: flex-end;
}
@media (max-width: 767.98px) {
  .footer {
    display: flex;
    width: 100vw;
    height: 209px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.footer__logo {
  width: 122px;
  height: 39.444px;
  flex-shrink: 0;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
.footer__copyright {
  display: flex;
  width: 513px;
  height: 46px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  color: #FFFFFF;
}
@media (max-width: 767.98px) {
  .footer__copyright {
    margin: 0;
    display: flex;
    max-width: 133px;
    font-size: 0.75rem;
    text-align: center;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 90vw;
}
@media (max-width: 767.98px) {
  .homepage {
    width: 100vw;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  justify-self: flex-start;
}
.aboutInfo {
  width: 100%;
}
.aboutInfo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 38px 0;
  width: 100%;
}

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
  max-width: fit-content;
  width: 90vw;
}
.error404__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.error404__404 {
  font-size: 288px;
  font-weight: 700;
  width: 597px;
  height: 263px;
  margin: 0 0 139px 0;
}
.error404__text {
  font-size: 2.25rem;
  margin: 0 0 139px 0;
}
.error404__Link {
  color: #FF6060;
  margin: 0 0 139px 0;
}

.rental {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
  width: 90vw;
  justify-self: flex-start;
  flex-grow: 1;
}
.rental__container {
  width: 100%;
}
@media (max-width: 767.98px) {
  .rental__container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.rental__titleHostContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 767.98px) {
  .rental__titleHostContainer {
    flex-direction: column;
    width: 100%;
    margin: 15px 0;
  }
}
.rental__title {
  font-size: 2.25rem;
  line-height: 142.6%;
  margin: 0;
}
@media (max-width: 767.98px) {
  .rental__title {
    font-size: 1.125rem;
  }
}
.rental__location {
  margin: 0;
  font-size: 1.125rem;
}
@media (max-width: 767.98px) {
  .rental__location {
    font-size: 14px;
  }
}
.rental__tags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
@media (max-width: 767.98px) {
  .rental__tags {
    width: 100%;
    overflow: scroll;
  }
}
.rental__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 115px;
  height: 25px;
  background: #FF6060;
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .rental__tag {
    min-width: 84px;
    height: 18px;
    border-radius: 5px;
  }
}
.rental__tagText {
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  line-height: 142.6%;
}
@media (max-width: 767.98px) {
  .rental__tagText {
    font-size: 10px;
  }
}
.rental__hostInfoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.rental__hostContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .rental__hostContainer {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.rental__hostName {
  text-align: right;
  font-size: 1.125rem;
  line-height: 142.6%;
}
@media (max-width: 767.98px) {
  .rental__hostName {
    font-size: 0.75rem;
  }
}
.rental__hostImage {
  width: 64px;
  height: 64px;
  fill: #c4c4c4;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .rental__hostImage {
    width: 32px;
    height: 32px;
  }
}
.rental__hostStars {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .rental__hostStarMeter {
    width: 98px;
  }
}
.rentalInfo__Container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 38px 0;
  align-items: flex-start;
}
@media (max-width: 767.98px) {
  .rentalInfo__Container {
    flex-direction: column;
    margin-top: 0;
  }
}

/*# sourceMappingURL=App.css.map */
